# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
.next/
.turbo/
.expo/
.expo-shared/
out/
build/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os
.DS_Store

# editors
.vscode/*
!.vscode/extensions.json
.idea/

# prisma
packages/database/generated/

# misc
*.tsbuildinfo
coverage/
